<html>
<head>
   <title></title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 </head>
<body>
<form	method="post"	action="madLibsOutput">
  <h1> ITEMS FROM A GOSSIP COLUMN </h1>
  <h3> Input Your Word Choices: </h3><br>
    <lable>  Articles of Clothing: </label><input type="text" name="articlesOfClothing"><br><br>
    <lable>  Female Person You Know #1: </label><input type="text" name="female1"><br><br>
    <lable>  Female Person You Know #2: </label><input type="text" name="female2"><br><br>
    <lable>  Male Person You Know #1: </label><input type="text" name="male1"><br><br>
    <lable>  Male Person You Know #2: </label><input type="text" name="male2"><br><br>
    <lable>  Plural Noun: <input type="text" name="noun"><br><br>
		<input	type="submit"	value="Post something">
</form>

</body>
</html>
